@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Madimi+One&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
}
.madimi-one-regular {
  font-family: "Madimi One", sans-serif;
  /* font-weight: 400; */
  font-style: normal;
}
body {
  background-color: #fee440;
}
svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.links {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 18px;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: black;
  margin-left: 1em;
}
a:hover {
  text-decoration: underline;
}
a img.icon {
  display: inline-block;
  height: 1em;
  margin: 0 0 -0.1em 0.3em;
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
} /* just to be sure these are full screen*/

canvas {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: black;
}
.bingo-card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.bingo-cell {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
