@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Madimi+One&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .ripple:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%)
      center/15000%;
  }
  .ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
  }
}

.tile {
  font-size: calc(1vw + 4px);
  overflow-wrap: break-word;
  padding: calc(2vmin - 4px);
  text-align: center;
  vertical-align: middle;
  height: 100%;
}

.area {
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  min-height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);

  bottom: 20px;
  border-radius: 10%;
}

.circles li:nth-child(1) {
  left: 25%;
  bottom: 30px;
  width: 80px;
  height: 80px;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  bottom: 10%;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  bottom: 30%;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  bottom: 40%;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  bottom: 40%;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  bottom: 20%;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  bottom: 30%;
}
